#brand
    background: url("../images/bg-brand.png")
    background-size: cover
    background-repeat: no-repeat
    background-position-y: -100px
    min-height: 100vh
    @include screen('md')
        background-size: 100% 100%
        background-position-y: top
    .icon-block
        opacity: 0

    .block-info
        top: 72.7%
        left: 36%
        position: absolute
        .icon-block
            width: 28vw
            height: auto

    .block-photo
        top: 52%
        left: 5%
        position: absolute
        .icon-block
            width: 10vw
            height: auto

    .block-vdo
        top: 38%
        left: 35%
        position: absolute
        .icon-block
            width: 15vw
            height: auto

    .block-poster
        top: 55%
        right: 9%
        position: absolute
        .icon-block
            width: 11vw
            height: auto

    .block-brochure
        top: 45%
        left: 52%
        position: absolute
        .icon-block
            width: 6.4vw
            height: auto
    .block-doc
        top: 46%
        left: 60%
        position: absolute
        .icon-block
            width: 7vw
            height: auto
