#booth
    .glass 
        img
            filter: drop-shadow(-1px 2px 0 rgba(250, 254, 6, 0.756))

    .img-booth
        transform: scale(0.3, 0.3)
        @include screen('md')
            transform: scale(1, 1)

    .block-qrcode
        .glass
            top: 53%
            left: 4%
            @include screen('sm')
                top: 53%
                left: 4%
            @include screen('md')
                top: 62.7%
                left: 13.5%
            @include screen('lg')
                top: 62%
                left: 22%

            img
                transform: scale(0.4, 0.4)
                @include screen('sm')
                    transform: scale(0.4, 0.4)
                @include screen('md')
                    transform: scale(1, 1)
                    max-width: 68px
                @include screen('lg')
                    transform: scale(1, 1)
                    max-width: 78px
        .qrcode
            top: 51.2%
            right: 85%
            @include screen('sm')
                top: 51.2%
                right: 85%
            @include screen('md')
                top: 64%
                left: 21%
            @include screen('lg')
                top: 59.7%
                left: 21%

            img
                transform: scale(0.4, 0.4)
                @include screen('sm')
                    transform: scale(0.4, 0.4)
                @include screen('md')
                    transform: scale(1, 1)
                @include screen('lg')
                    transform: scale(1, 1)
    .block-video
        .glass
            top: 48%
            left: 37%
            @include screen('sm')
                top: 48%
                left: 37%
            @include screen('md')
                top: 47%
                left: 43.5%
            @include screen('lg')
                top: 48%
                left: 43.5%

            img
                transform: scale(0.4, 0.4)
                @include screen('sm')
                    transform: scale(0.4, 0.4)
                @include screen('md')
                    transform: scale(1, 1)
                @include screen('lg')
                    transform: scale(1, 1)
    
    .block-poster1
        .glass
            top: 49%
            right: 40%
            @include screen('sm')
                top: 49%
                right: 40%
            @include screen('md')
                top: 52%
                right: 45%
            @include screen('lg')
                top: 52%
                right: 45%

            img
                transform: scale(0.4, 0.4)
                @include screen('sm')
                    transform: scale(0.4, 0.4)
                @include screen('md')
                    transform: scale(1, 1)
                @include screen('lg')
                    transform: scale(1, 1)

        .poster
            top: 49%
            left: 52%
            @include screen('sm')
                top: 49%
                left: 52%
            @include screen('md')
                top: 47%
                left: 52%
            @include screen('lg')
                top: 48%
                left: 52%

            img
                transform: scale(1, 1)
                max-width: 29px
                @include screen('sm')
                    transform: scale(1, 1)
                    max-width: 29px
                @include screen('md')
                    transform: scale(1, 1)
                @include screen('lg')
                    transform: scale(1, 1)
                    max-width: 72px

    .block-poster2
        .glass
            top: 52%
            right: 9%
            @include screen('sm')
                top: 52%
                right: 9%
            @include screen('md')
                top: 53%
                right: 45%
            @include screen('lg')
                top: 61%
                right: 26%

            img
                transform: scale(0.4, 0.4)
                @include screen('sm')
                    transform: scale(0.4, 0.4)
                @include screen('md')
                    transform: scale(1, 1)
                @include screen('lg')
                    transform: scale(1, 1)

        .poster
            top: 50%
            left: 80%
            @include screen('sm')
                top: 50%
                left: 80%
            @include screen('md')
                top: 54%
                left: 70%
            @include screen('lg')
                top: 54%
                left: 70%

            img
                transform: scale(1, 1)
                max-width: 45px
                @include screen('sm')
                    transform: scale(1, 1)
                    max-width: 45px
                @include screen('md')
                    transform: scale(1, 1)
                @include screen('lg')
                    transform: scale(1, 1)
                    max-width: 110px
    // .glass2
    //     top: 53%
    //     right: 57%
    // .glass2
    //     top: 53%
    //     right: 57%