#brand
    background: url("../images/bg-brand.png")
    background-size: cover
    background-repeat: no-repeat
    background-position-y: -100px
    @include screen('md')
        background-size: 100% 100%
        background-position-y: top
    .icon-block
        width: 19px
        height: auto
        @include screen('lg')
            width: 55px
            height: auto

    .block-photo
        .icon
            top: 50.5%
            left: 5.5%
            @include screen('sm')
                top: 50.5%
                left: 5.5%
            @include screen('md')
                top: 62.7%
                left: 13.5%
            @include screen('lg')
                top: 54%
                left: 15%
            @include screen('xwide')
                top: 53%
                left: 22%

    .block-vdo
        .icon
            top: 48%
            left: 39.5%
            @include screen('sm')
                top: 48%
                left: 39.5%
            @include screen('md')
                top: 62.7%
                left: 13.5%
            @include screen('lg')
                top: 45.3%
                left: 41.8%
            @include screen('xwide')
                top: 46.4%
                left: 43.5%

    .block-brochure
        .icon
            top: 49.2%
            left: 53.2%
            @include screen('sm')
                top: 49.2%
                left: 53.2%
            @include screen('md')
                top: 62.7%
                left: 13.5%
            @include screen('lg')
                top: 49.5%
                left: 52.8%
            @include screen('xwide')
                top: 49.5%
                left: 52.2%

    .block-doc
        .icon
            top: 49.2%
            left: 62.1%
            @include screen('sm')
                top: 49.2%
                left: 62.1%
            @include screen('md')
                top: 62.7%
                left: 13.5%
            @include screen('lg')
                top: 49.5%
                left: 59.8%
            @include screen('xwide')
                top: 49.5%
                left: 57.8%
    .block-info
        .icon
            top: 54.5%
            left: 39%
            @include screen('sm')
                top: 54.5%
                left: 39%
            @include screen('md')
                top: 62.7%
                left: 13.5%
            @include screen('lg')
                top: 70%
                left: 41.6%
            @include screen('xwide')
                top: 65.5%
                left: 43.4%

    .block-poster
        .icon
            top: 51.7%
            left: 85%
            @include screen('sm')
                top: 51.7%
                left: 85%
            @include screen('md')
                top: 62.7%
                left: 13.5%
            @include screen('lg')
                top: 59.8%
                left: 77.8%
            @include screen('xwide')
                top: 57.4%
                left: 72.1%